


    
    <header>
        <app-navbar></app-navbar>
            </header>
            
            <main>
            
              <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../assets/images/HD wallpaper_ ultrawide, car.jfif" style="width: 100%; height: 100%;">
                    
                    <div class="container">
                      <div class="carousel-caption text-start">
                        <h1>Become A Host!</h1>
                        <p>And post your daily Cars!</p>
                        <p><a (click)="openHostRegister()" class="btn btn-lg btn-warning" >Sign up today</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/HD wallpaper_ ultrawide, car.jfif" style="width: 100%; height: 100%;">
                    <div class="container">
                      <div class="carousel-caption">
                        <h1>Become a Guest</h1>
                        <p> Subcar is the easiest way to find your dream car</p>
                        <p><a (click)="openUserRegister()" class="btn btn-lg btn-warning" >Sign up today</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/HD wallpaper_ ultrawide, car.jfif" style="width: 100%; height: 100%;">
            
                    <div class="container">
                      <div class="carousel-caption text-end">
                        <h1>Already Have An account?</h1><br>
                        <p><a class="btn btn-lg btn-warning" >Login Now</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            
            
              <!-- Marketing messaging and featurettes
              ================================================== -->
              <!-- Wrap the rest of the page in another container to center all the content. -->
            
              <div class="container marketing">
            
                <!-- Three columns of text below the carousel -->
                <div class="row">
                  <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#FFFFFF"/><image href="../../assets/images/best-price.png" width="85%"></image></svg>
            
                    <h2 class="fw-normal">Service pricing</h2>
                    <p>Dealerships compete with independent garages and automotive retail chains, and their pricing on regular maintenance/repairs (oil changes, tune-ups, brake repairs), brand name tires, accessories and collision repairs are highly competitive. On select items, dealerships are sometimes more cost-effective than independents.</p>
                    
                  </div><!-- /.col-lg-4 -->
                  <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#FFFFFF"/><image href="../../assets/images/trust (1).png" width="100%"></image></svg>
            
                    <h2 class="fw-normal">Established Reputation</h2>
                    <p>An individual may be unaware of a vehicle’s full history and condition or may outright lie. A car dealership which has built a strong reputation in the community has worked hard for that and will be sure to work towards maintaining that reputation. A dealership can offer you a full vehicle history report, inspection certificates, and extended warranties to protect your purchase.</p>
                  
                  </div><!-- /.col-lg-4 -->
                  <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#FFFFFF"/><image href="../../assets/images/rating.png" width="85%"></image></svg>
            
                    <h2 class="fw-normal">Knowledge and expertise</h2>
                    <p>A typical dealership employs between 20 and 100 men and women, who work in a variety of professions, including accounting, controller, human resources, auto/collision repairs, sales, business development, fixed operations, digital marketing and more. Each of these careers require a high degree of skill and knowledge. Professional development and factory-trained learning are requirements for all of these professions.</p>
                    
                  </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            
            
                <!-- START THE FEATURETTES -->
            
                <hr class="featurette-divider">
            
                <div class="row featurette">
                  <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Introducing a better online Looking for a car experience </h2><br>
                    <p class="lead">Start-to-finish auto buying is here. Rolling out new features along the way, Subcar is reinventing the auto-buying experience.</p>
                  </div>
                  <div class="col-md-5"><br><br>
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#FFFFFF"/><image href="../../assets/images/You-Drive-Car.webp" width="100%"></image></svg>
            
                  </div>
                </div>
            
                <hr class="featurette-divider">
            
                <div class="row featurette">
                  <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Save time, start online.</h2>
                    <p class="lead">Exclusive to Subcar, start your Search online with newly Dealers expanded options. Including additional savings, no-charge reservation,all available from the comfort of your home.</p>
                  </div>
                  <div class="col-md-5 order-md-1"><br><br>
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#FFFFFF"/><image href="../../assets/images/pngegg.png" width="100%"></image></svg>
            
                  </div>
                </div>
            
                <hr class="featurette-divider">
            
                
            
                
            
                <!-- /END THE FEATURETTES -->
            
              </div><!-- /.container -->
            
            
              <!-- FOOTER -->
           <app-footer></app-footer>
            </main>
            
            
                <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
            
                  
              