<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<br>
<div class="container">
	<div class="row">

	</div>
</div>
<div class="container">
	<div class="row mb-3">
		<div class="col-md-12">
		    <img src="{{imagePath}}{{img}}">
		</div>
	</div>
</div>
<div class="container">
	<div class="row mb-2">
		<div class="col-md-12">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
            		<div class="col-md-12">
            		    <h4 class="text-danger">Overview</h4>
            		    <hr>
            		</div>
            	</div>
                    <div class="row mb-4">
                    		<div class="col-md-3">
                    		    <h5 class="text-secondary">Car type</h5>
                    		    <h6>{{cartype}}</h6>
                    		</div>
                    		<div class="col-md-3">
                    		    <h5 class="text-secondary">KMS DRIVEN</h5>
                    		    <h6>{{kms}}</h6>
                                
                    		</div>
                    		<div class="col-md-3">
                    		    <h5 class="text-secondary">NO. OF OWNERS</h5>
                    		    <h6>{{ownersnumber}}</h6>
                    		</div>
                    		<div class="col-md-3">
                    		    <h5 class="text-secondary">price</h5>
                    		    <h6>{{price}}</h6>
                    		</div>
                    	</div>
                    <div class="row mb-4">
                    		<div class="col-md-3">
                    		    <h5 class="text-secondary">MAKE YEAR</h5>
                    		    <h6>{{caryear}}</h6>
                    		</div>
                    	
                    		<div class="col-md-3">
                    		    <h5 class="text-secondary">COLOR</h5>
                    		    <h6>{{carcolor}}</h6>
                    		</div>
                            <div class="col-md-3">
                    		    <h5 class="text-secondary">DealerShip</h5>
                    		    <h6>{{hostName}}</h6>
                    		</div>
                    	</div>
                  
		        </div>
		    </div>
        </div>
    </div>
</div>

