<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <form (submit)="OnPostSubmit()" >
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="{{imagePath}}{{host.businessImg}}" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
                    <label class="btn btn-primary" for="files" type="button">Upload new image</label>
                    <input  [(ngModel)]="img" id="files" style="visibility:hidden;" [(ngModel)]="userImage" name="userImage" type="file" placeholder="userImage" (change)="selectImage($event)"/>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
                            <input [(ngModel)]="name"  name="name" class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="hello">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Phone number</label>
                                <input [(ngModel)]="phone" name="phone" class="form-control" id="inputFirstName" type="text" placeholder="Enter your phone number" value="{{host.phone}}">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">Organization name</label>
                                <input [(ngModel)]="businessName" name="businessName" class="form-control" id="inputOrgName" type="text" placeholder="Enter your organization name" value="{{host.businessName}}">
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">From</label>
                                <input [(ngModel)]="from"  name="from" class="form-control" id="inputOrgName" type="text" placeholder="Enter your County" value="{{host.from}}">
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">City</label>
                                <input [(ngModel)]="city" name="city" class="form-control" id="inputLocation" type="text" placeholder="Enter your location" value="{{host.city}}">
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                            <input [(ngModel)]="email" name="email" class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="{{host.email}}">
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Description</label>
                            <textarea [(ngModel)]="desc"  name="desc"  name="desc"  class="form-control" id="message" rows="3" value="{{host.desc}}" placeholder="What are you thinking?"></textarea>
                        </div>
                        <!-- Form Row-->
           
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="submit">Save changes</button>
                   
                </div>
            </div>
        </div>
    </div>
</form>
</div>
