<div class="container">
    <form (submit)="OnPostSubmit()">
    <div class="row gutters">

    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-6">
                    <h6 class="mb-2 text-primary">Make a Post</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="fullName">Car Type</label>
                        <input [(ngModel)]="cartype" name="cartype" type="text" class="form-control" id="fullName" placeholder="Enter Car Type">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="eMail">KMS DRIVEN</label>
                        <input [(ngModel)]="kms" name="kms" type="text" type="email" class="form-control" id="eMail" placeholder="Enter KMS DRIVEN">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="phone">NO. OF OWNERS</label>
                        <input [(ngModel)]="ownersnumber" name="ownersnumber" type="text" class="form-control" id="phone" placeholder="Enter NO. OF OWNERS">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="website">Color</label>
                        <input [(ngModel)]="carcolor" name="carcolor" type="url" class="form-control" id="website" placeholder="Enter car color">
                    </div>
                </div>
                
            </div>
            <br>

            <div class="row gutters">
             
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="Street">MAKE YEAR</label>
                        <input [(ngModel)]="caryear" name="caryear"  type="name" class="form-control" id="Street" placeholder="Enter MAKE YEAR">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="ciTy">Price</label>
                        <input [(ngModel)]="price" name="price" type="name" class="form-control" id="ciTy" placeholder="Enter car price">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label style="margin-top: 3px; margin-bottom: 3px;" for="zIp">Upload Image</label>
                        <input [(ngModel)]="img" name="img" (change)="selectImage($event)" type="file" class="form-control" id="zIp" placeholder="Zip Code">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label style="margin-top: 3px; margin-bottom: 3px;" class="sr-only" for="message">Info</label>
                <textarea [(ngModel)]="desc" name="desc"  name="desc"  class="form-control" id="message" rows="3" placeholder="What are you thinking?"></textarea>
                <br>
            </div>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                       <br>
                        <button style="margin-left: 75%; width: 150px;" type="submit" id="submit" name="submit" class="btn btn-primary">Post</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    </div>
    </div>
</form>
    </div>

 <!-- <form (submit)="OnPostSubmit()">
                        <div class="form-row">
                            
                          <div class="col-md-4 mb-3">
                            <label for="validationDefault01">Car Type</label>
                            <input [(ngModel)]="cartype" name="cartype" type="text" class="form-control" id="validationDefault01" placeholder="car type"  required>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="validationDefault02">KMS DRIVEN</label>
                            <input [(ngModel)]="kms" name="kms" type="text" class="form-control" id="validationDefault02" placeholder="Car KMS"  required>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="validationDefaultUsername">NO. OF OWNERS</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                              </div>
                              <input [(ngModel)]="ownersnumber" name="ownersnumber" type="text" class="form-control" id="validationDefaultUsername" placeholder="NO. OF OWNERS" aria-describedby="inputGroupPrepend2" required>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-md-6 mb-3">
                            <label for="validationDefault03">Image Link</label>
                            <input [(ngModel)]="img" name="img" (change)="selectImage($event)" type="file" class="form-control" id="validationDefault03" placeholder="Image Link" required>
                          </div>
                          <div class="col-md-3 mb-3">
                            <label for="validationDefault04">Color</label>
                            <input [(ngModel)]="carcolor" name="carcolor" type="text" class="form-control" id="validationDefault04" placeholder="Color" required>
                          </div>
                          <div class="col-md-3 mb-3">
                            <label for="validationDefault05">MAKE YEAR</label>
                            <input [(ngModel)]="caryear" name="caryear" type="text" class="form-control" id="validationDefault05" placeholder="MAKE YEAR" required>
                          </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="message">post</label>
                            <textarea [(ngModel)]="desc" name="desc"  class="form-control" id="message" rows="3" placeholder="What are you thinking?"></textarea>
                            <br>
                        </div>
                        
                        <button class="btn btn-primary" type="submit">Share</button>
                      </form>
  <br> -->