



  <div class="host-container">
  <app-hostnavbar></app-hostnavbar>
  <br><br>
  <flash-messages></flash-messages>

       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<div class="container" *ngIf="host"> 
    <div class="row">
        <div class="col-xl-5">
            <div class="card">
                <div class="card-body">
                    <div class="dropdown float-end">
                        <mat-icon   style="cursor: pointer;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">more_vert</mat-icon>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openEdit()" >
                                <mat-icon>edit</mat-icon>
                              <span>Edit profile</span>
                            </button>
                            <button mat-menu-item (click)="addLocation()" >
                                <mat-icon>add_location</mat-icon>
                              <span>Locate business</span>
                            </button>
                       
                          </mat-menu>
                     
                    </div>
                    <div class="d-flex align-items-start">
                        <img src="{{imagePath}}{{host.businessImg}}" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">
                        <div class="w-100 ms-3">
                            <h4 class="my-0"></h4>
                            <p class="text-muted"><strong>@{{host.businessName}}</strong></p>
                            <button  (click)="open()" type="button" style="background-color: #007bff; color:white;"  class="btn btn-soft-primary btn-xs waves-effect mb-2 waves-light">Make a Post</button>
                        </div>
                    </div>

                    <div class="mt-3">
                        <h4 class="font-13 text-uppercase">About Me :</h4>
                        <p class="text-muted font-13 mb-3">
                            {{host.desc}}
                        </p>
                        <p class="text-muted mb-2 font-13"><strong>Full Name :</strong> <span class="ms-2">{{host.name}}</span></p>
                    
                        <p class="text-muted mb-2 font-13"><strong>Mobile :</strong><span class="ms-2">{{host.phone}}</span></p>
                    
                        <p class="text-muted mb-2 font-13"><strong>Email :</strong> <span class="ms-2">{{host.email}}</span></p>
                    
                        <p class="text-muted mb-1 font-13"><strong>Location :</strong> <span class="ms-2">{{host.city}}</span></p>
                    </div>                                    

                
                </div>                                 
            </div> <!-- end card -->

            <div class="card">
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col-4 border-end border-light">
                            <h5 class="text-muted mt-1 mb-2 fw-normal">Followers</h5>
                            <h2 class="mb-0 fw-bold">{{host.follower.length}}</h2>
                        </div>
                        <div class="col-4 border-end border-light">
                            <h5 class="text-muted mt-1 mb-2 fw-normal">Posts</h5>
                            <h2 class="mb-0 fw-bold">{{post.length}}</h2>
                        </div>
                        <div class="col-4">
                            <h5 class="text-muted mt-1 mb-2 fw-normal">Likes</h5>
                            <h2 class="mb-0 fw-bold">{{counter}}</h2>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">My Location</h4>

                    
                    <app-host-map></app-host-map>
                </div>
            </div> <!-- end card-->
          

        </div> <!-- end col-->

        <div class="col-xl-7">
            <div style="margin-bottom: 8px;" class="input-group">
                <div class="input-group-prepend">
                    <span style="height: 100%; margin-right: 7px;" class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input name="search" [(ngModel)]="searchFilter" type="text" class="form-control" placeholder="Search...">
            </div>
            <div class="card" *ngFor="let post of post | searchFilter: searchFilter">
                <div class="card-body" >
                   
                    <!-- Story Box-->
                    <div class="border border-light p-2 mb-3"  >
                        <div class="d-flex align-items-start">
                            <img class="me-2 avatar-sm rounded-circle" src="{{imagePath}}{{post.businessImg}}" >
                            <div class="w-100">
                                <Strong>{{post.hostName}}</Strong> posted
                                <p class="text-muted"><small>{{post.createdAt | date:'mediumDate'}}</small></p>
                            </div>
                            
                                <mat-icon   style="cursor: pointer;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">more_vert</mat-icon>
                              
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="deletepost(post._id)">
                                    <mat-icon>delete</mat-icon>
                                  <span>Delete</span>
                                </button>
                                <button   class="test" (click)="openEditPost()" (click)="sendPostDetails(post)"  >
                                    <mat-icon>edit</mat-icon>
                                  <span  >Edit</span>
                                </button>
                           
                              </mat-menu>
                              
                           
                        </div>
                        <a ><Strong>Car Model : </Strong>{{post.cartype}}</a>
                        <br>
                        <a><Strong>Car KMS : </Strong>{{post.kms}}Km</a>
                        <br>
                        <a><Strong>No. Of Owners : </Strong>{{post.ownersnumber}}</a>
                        <br>
                        <a><Strong>Car Color : </Strong>{{post.carcolor}}</a>
                        <br>
                        <a><Strong>Car Year : </Strong>{{post.caryear}}</a>
                        <br>
                        <a><Strong>Price : </Strong>₪ {{post.price}}</a>
                        <br>
                        <a><Strong>More Info : </Strong><br>{{post.desc}}</a>
                        <br><br>
                        <div class="image-container">
                            <div class="image">
                        <img src="{{imagePath}}{{post.img}}" alt="post-img" class="rounded me-1"  height="300">
                        <div class="edit-icon">
                            <label  (click)=" openImageEdit()" (click)="sendPostDetails(post._id)" > <mat-icon > insert_photo</mat-icon></label>
                        </div>
                    </div>
                   
                    </div>
                        <div style="display: flex;  align-items: center;" class="mt-2">
                            <a ><i class="mdi mdi-heart-outline"></i> {{post.likes.length}}</a>&nbsp;&nbsp;&nbsp;
                            <a ><span class="mdi mdi-eye"></span> {{post.viewed}}</a>
                        </div>
                        

            
                    </div>

            

            
                </div>
            </div> <!-- end card-->

        </div> <!-- end col -->
    </div>
    <!-- end row-->

</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a (click)="openMessages()" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>

<app-host-footer (newItemEvent)="addItem($event)"></app-host-footer>

</div>