<!-- <form (submit)="OnRegisterSubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">name</label>
      <input type="email" class="form-control"  [(ngModel)]="name" name="name" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">username</label>
        <input type="email" class="form-control" [(ngModel)]="businessName" name="businessName" aria-describedby="emailHelp">
    
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control"  [(ngModel)]="email" name="email" aria-describedby="emailHelp">
      </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Image</label>
        <input type="text" class="form-control" [(ngModel)]="businessImg" name="businessImg" id="exampleInputPassword1">
      </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->

  <div id="back">
    <div class="backRight"></div>
    <div class="backLeft"></div>
  </div>
  
  <div id="slideBox">
    <div class="topLayer">
      <div class="left">
        <div class="content">
          <h2>Sign Up</h2>
          <form  onsubmit="return false;" (submit)="OnRegisterSubmit()">
            <div class="form-group">
              <input [(ngModel)]="name" name="name" type="text" placeholder="Name" />
            </div>
            <div class="form-group">
              <input [(ngModel)]="email" name="email" type="text" placeholder="Email" />
            </div>
            <div class="form-group">
              <input [(ngModel)]="businessName" name="businessName" type="text" placeholder="Business Name" />
            </div>
            <div class="form-group">
              <input [(ngModel)]="businessImg" name="businessImg" type="file" placeholder="businessImg" />
              <label>coosefile</label>
            </div>
            <div class="form-group">
              <input [(ngModel)]="city" name="city" type="text" placeholder="City" />
            </div>
            <div class="form-group">
              <input [(ngModel)]="password" name="password" type="text" placeholder="Password" />
            </div>
     
            <div class="form-group"></div>
            <div class="form-group"></div>
            <div class="form-group"></div>
            <button id="goLeft" class="off">Login</button>
            <button type="submit">Sign up</button>
          </form>
        </div>
      </div>
      <div class="right">
        <div class="content">
          <h2>Login</h2>
          <form method="post" onsubmit="return false;">
            <div class="form-group">
              <label for="username" class="form-label">Username</label>
              <input type="text" />
            </div>
            <div class="form-group">
              <label for="username" class="form-label">Password</label>
              <input type="text" />
            </div>
            <button id="goRight" class="off">Sign Up</button>
            <button id="login" type="submit">Login</button>
            
          </form>
          <a routerLink="/login" class="pull-right">Login as User</a>
        </div>
      </div>
    </div>
  </div>
  
  <!--Inspiration from: http://ertekinn.com/loginsignup/-->