

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  
  <div class="chat_button_parent">
    <div class="chat_button"><i class="fas fa-comment-alt"></i>
      
    </div>
    <div class="chat_notif">2</div>
  </div>
  
  <div class="toggle_button_parent" onclick="toggleSidebar()">
    
    <i class="fas fa-bars" id="toggle_button"></i></div>
  
  <div class="header">
    <div class="header_content">
      <span class="logo">
        <img src="../../assets/images/carlogo.png" style="width: 120px;">
        <span class="logo-book"></span></span>
    
      <input type="text" class="header_search desktop-only" placeholder="Search For a car">
      <i class="fas fa-search" id="searchicon"></i>
    </div>
  
<div class="sidebar-container" id="sidebar">
  
 <img src="{{userImage}}" class="avatar">
 
  <div class="user-welcomer">
    <br>
  Welcome— {{username}},<br>
    <span class="username">{{name}}</span>
    <div class="user-buttons">
      
      <span id="notifs">
    <i class="fas fa-bell"></i>
    <div class="notifs">3</div>
      </span>
    &nbsp;&nbsp; <i class="fas fa-cog"></i>
    &nbsp;&nbsp; <i (click)="onLogoutClick()" class="fas fa-sign-out-alt"></i>
    </div>
  </div>
  
  <div class="seperator" clear="all"></div>
  
  <div class="sidebar-content">
  <b>Discover More</b>
 <br clear="all">
  
   <div class="friend_row" *ngFor="let host of hosts">
  <img src="{{host.businessImg}}" class="avatar friend_avatar">
<div class="online_status active"><i class="fas fa-circle"></i></div>
    <div class="friend_name">{{host.businessName}}</div>
    <div class="flex-end">
    <button (click)="followHost(host._id)"type="submit">Follow</button>
  </div>
  </div>
  
  
  <div class="seperator"></div>
  
  <b>Dealers You Follow</b>
  <div class="friend_row" *ngFor="let follow of following">
    <img src="{{follow.businessImg}}" class="avatar friend_avatar">
  <div class="online_status active"><i class="fas fa-circle"></i></div>
      <div class="friend_name">{{follow.businessName}}</div>
      <div class="flex-end">
      <button (click)="followHost(host._id)"type="submit">Unfollow</button>
    </div>
    </div>
  <!-- <b>Your Active Groups</b>
  <br clear="all">
  <div class="friend_row" id="group">
 <img src="https://i.gyazo.com/12eaea08eb3212f91775a67bf00812f2.png" class="group_img">
    <div class="group_name">Squirrel Tracker <small>3 new posts</small></div>
  </div>
  
  <div class="friend_row" id="group">
 <img src="https://cdn.pixabay.com/photo/2020/12/30/12/05/woman-5873274__340.jpg" class="group_img">
    <div class="group_name">Tips to Annoy Owner <small>1 new post</small></div>
  </div>
    
  <div class="friend_row" id="group">
 <img src="https://i.gyazo.com/4edc690954da101eb3677fdf4d5db1e8.png" class="group_img">
    <div class="group_name">Control Your Zoomies <small></small></div>
  </div> 
     -->
  </div>
    </div>
 
  
  
</div>
  
  
end of left sidebar !-->
  
<div class="page_content">
  
  <div class="mobile_search"> 

  </div>
  
  <div class="stories">
    
  <div class="story_container you">
<i class="fas fa-plus-circle" id="plus_icon_story"></i>
  </div>
    
  <div class="story_container one">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAAKlBMVEXg4OD////j4+Pb29v7+/vi4uLx8fHs7Oz39/f09PTa2tru7u7m5ubX19cF3ejnAAABRElEQVR4nO3Z27JDMBiAURFVVN//dXfp+ZC6Y0//tS4zphPflARVBQAAAAAAAAAAAAAAAAAAAAAAAADAj6i/23p6G+jSkn7rKa6tXUyS0mHrSa4rp9QuHNKlJq8yl//i1GS/cEgbtsm4Kx0StEme7ipd4ZCgTQ7zrbT7fOoxm+TL+vL58ondZLwPd/2tQ+wm99HTRu4WJWaTapyTtNdTz/Pe9holaJNcnxrsh+vYZbt/iRK0SVUdj8fnf8k9StgmDyMPD4VzlNBN5qU4Pz0nT1EiN2mmdSe/vDroQzdppsX4NUlKOXCT5ry9f3t3ErhJU3qfFLdJMUncJuUkYZvkchJNNJlo8u58P6l3JXXoPVtRxCZ9PX5Tx/u+4zvgu2H5e3E7LP/MbxmWLowhXBIAAAAAAAAAAAAAAAAAAAAAAAAAgF/1BxZSCIBLTls7AAAAAElFTkSuQmCC" class="avatar story_avatar">
  </div>
  
  <div class="story_container two">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAAKlBMVEXg4OD////j4+Pb29v7+/vi4uLx8fHs7Oz39/f09PTa2tru7u7m5ubX19cF3ejnAAABRElEQVR4nO3Z27JDMBiAURFVVN//dXfp+ZC6Y0//tS4zphPflARVBQAAAAAAAAAAAAAAAAAAAAAAAADAj6i/23p6G+jSkn7rKa6tXUyS0mHrSa4rp9QuHNKlJq8yl//i1GS/cEgbtsm4Kx0StEme7ipd4ZCgTQ7zrbT7fOoxm+TL+vL58ondZLwPd/2tQ+wm99HTRu4WJWaTapyTtNdTz/Pe9holaJNcnxrsh+vYZbt/iRK0SVUdj8fnf8k9StgmDyMPD4VzlNBN5qU4Pz0nT1EiN2mmdSe/vDroQzdppsX4NUlKOXCT5ry9f3t3ErhJU3qfFLdJMUncJuUkYZvkchJNNJlo8u58P6l3JXXoPVtRxCZ9PX5Tx/u+4zvgu2H5e3E7LP/MbxmWLowhXBIAAAAAAAAAAAAAAAAAAAAAAAAAgF/1BxZSCIBLTls7AAAAAElFTkSuQmCC" class="avatar story_avatar">
  </div>
  
  <div class="story_container three">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAAKlBMVEXg4OD////j4+Pb29v7+/vi4uLx8fHs7Oz39/f09PTa2tru7u7m5ubX19cF3ejnAAABRElEQVR4nO3Z27JDMBiAURFVVN//dXfp+ZC6Y0//tS4zphPflARVBQAAAAAAAAAAAAAAAAAAAAAAAADAj6i/23p6G+jSkn7rKa6tXUyS0mHrSa4rp9QuHNKlJq8yl//i1GS/cEgbtsm4Kx0StEme7ipd4ZCgTQ7zrbT7fOoxm+TL+vL58ondZLwPd/2tQ+wm99HTRu4WJWaTapyTtNdTz/Pe9holaJNcnxrsh+vYZbt/iRK0SVUdj8fnf8k9StgmDyMPD4VzlNBN5qU4Pz0nT1EiN2mmdSe/vDroQzdppsX4NUlKOXCT5ry9f3t3ErhJU3qfFLdJMUncJuUkYZvkchJNNJlo8u58P6l3JXXoPVtRxCZ9PX5Tx/u+4zvgu2H5e3E7LP/MbxmWLowhXBIAAAAAAAAAAAAAAAAAAAAAAAAAgF/1BxZSCIBLTls7AAAAAElFTkSuQmCC" class="avatar story_avatar">
  </div>
  
  
  <div class="story_container four">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAAKlBMVEXg4OD////j4+Pb29v7+/vi4uLx8fHs7Oz39/f09PTa2tru7u7m5ubX19cF3ejnAAABRElEQVR4nO3Z27JDMBiAURFVVN//dXfp+ZC6Y0//tS4zphPflARVBQAAAAAAAAAAAAAAAAAAAAAAAADAj6i/23p6G+jSkn7rKa6tXUyS0mHrSa4rp9QuHNKlJq8yl//i1GS/cEgbtsm4Kx0StEme7ipd4ZCgTQ7zrbT7fOoxm+TL+vL58ondZLwPd/2tQ+wm99HTRu4WJWaTapyTtNdTz/Pe9holaJNcnxrsh+vYZbt/iRK0SVUdj8fnf8k9StgmDyMPD4VzlNBN5qU4Pz0nT1EiN2mmdSe/vDroQzdppsX4NUlKOXCT5ry9f3t3ErhJU3qfFLdJMUncJuUkYZvkchJNNJlo8u58P6l3JXXoPVtRxCZ9PX5Tx/u+4zvgu2H5e3E7LP/MbxmWLowhXBIAAAAAAAAAAAAAAAAAAAAAAAAAgF/1BxZSCIBLTls7AAAAAElFTkSuQmCC" class="avatar story_avatar">
  </div>
  
  

  </div>
  



  
  
  <div class="new_status">
 <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAAKlBMVEXg4OD////j4+Pb29v7+/vi4uLx8fHs7Oz39/f09PTa2tru7u7m5ubX19cF3ejnAAABRElEQVR4nO3Z27JDMBiAURFVVN//dXfp+ZC6Y0//tS4zphPflARVBQAAAAAAAAAAAAAAAAAAAAAAAADAj6i/23p6G+jSkn7rKa6tXUyS0mHrSa4rp9QuHNKlJq8yl//i1GS/cEgbtsm4Kx0StEme7ipd4ZCgTQ7zrbT7fOoxm+TL+vL58ondZLwPd/2tQ+wm99HTRu4WJWaTapyTtNdTz/Pe9holaJNcnxrsh+vYZbt/iRK0SVUdj8fnf8k9StgmDyMPD4VzlNBN5qU4Pz0nT1EiN2mmdSe/vDroQzdppsX4NUlKOXCT5ry9f3t3ErhJU3qfFLdJMUncJuUkYZvkchJNNJlo8u58P6l3JXXoPVtRxCZ9PX5Tx/u+4zvgu2H5e3E7LP/MbxmWLowhXBIAAAAAAAAAAAAAAAAAAAAAAAAAgF/1BxZSCIBLTls7AAAAAElFTkSuQmCC" class="avatar" style="height:50px;width:50px;">
    <i class="fas fa-image" style="margin-left:20px;"></i>
    <i class="fas fa-video"></i>
    <i class="fas fa-smile"></i>
    
    <br>
    <textarea placeholder="What's on your mind bud?"></textarea>
</div>
  
<!--   
  <div class="post_container">
 <img src="https://cdn.pixabay.com/photo/2016/02/19/15/46/labrador-retriever-1210559__340.jpg" class="avatar" style="height:50px;width:50px;"> 
    
    <div class="post_content">
      <span class="link">Bud</span> posted in group <span class="link">Squirrel Tracker</span>
    <br><small>5min ago</small>
    </div>
    
    <br clear="all"><br>
    Visiting Boyd park later, spottings? 😛
    
    <div class="reacts">
    <i class="fas fa-comment-alt"></i> 5
      &nbsp;&nbsp; <i class="fas fa-paw"></i> 5
    </div>
    
  </div> -->
  
<!--   
  <div class="post_container">
 <img src="https://i.gyazo.com/32604c4f5d27fbf94a79e416ac558829.png" class="avatar" style="height:50px;width:50px;"> 
    
    <div class="post_content">
    Sponsored Ad from <span class="link">The Feline Party</span>
    <br><small>Advertisement</small>
    </div>
    
    <br clear="all"><br>
    Vote for the Feline party this November. Your future leader Fernando promises a dog free utopia.
    <br><br>
 <img src="https://i.gyazo.com/7a405224cfcb091e239556e47079455d.png" class="border-r">
    
    <div class="reacts">
   <i class="fas fa-paw fa-rotate-180" style="color:#F75F5A;"></i> 1,038
    </div>
  </div>
  
   -->
<!--   
  <div class="post_container">
 <img src="https://i.gyazo.com/b62795ff5cabe445dcda99d7bfd7727f.png" class="avatar" style="height:50px;width:50px;"> 
    
    <div class="post_content">
    <span class="link">Jackson</span> shared 6 images to group <span class="link">Tips to Annoy Your Owner</span>
    <br><small>1hr ago</small>
    </div>
    
    <br clear="all"><br>
Trip to Woodbine Beach with owner. Lots dirt, mud, rolling. 😂😂😂
    <br clear="all">
<img src="https://cdn.pixabay.com/photo/2020/09/29/19/11/dog-5613713__340.jpg" class="gallery_img">

<img src="https://cdn.pixabay.com/photo/2020/09/27/09/35/dog-5606212__340.jpg" class="gallery_img">

<img src="https://cdn.pixabay.com/photo/2020/09/27/09/34/dog-5606209__340.jpg" class="gallery_img">

<img src="https://cdn.pixabay.com/photo/2020/09/27/09/34/dog-5606210__340.jpg" class="gallery_img">

<img src="https://cdn.pixabay.com/photo/2020/09/27/09/34/dog-5606207__340.jpg" class="gallery_img">

<img src="https://cdn.pixabay.com/photo/2016/10/19/12/49/boston-terrier-pup-1752894__340.jpg" class="gallery_img">
    
    
    <div class="reacts">
    <i class="fas fa-comment-alt"></i> 12
      &nbsp;&nbsp; <i class="fas fa-laugh"></i> 316
    </div>
    
  </div>    
   -->
  
  

  
  <div class="post_container" *ngFor="let post of post" >
 <img (click)="sendhostdetails(post.userId)" src="{{post.businessImg}}" class="avatar" style="height:50px;width:50px;"> 
    
    <div class="post_content">
      <span (click)="sendhostdetails(post.userId)" class="link">{{post.hostName}}</span> posted
    <br><small>{{post.createdAt | date:'mediumDate'}}</small>
    </div>
    
    <br clear="all"><br>
    <a><Strong>Car Model : </Strong>{{post.cartype}}</a>
    <br>
    <a><Strong>Car KMS : </Strong>{{post.kms}}Km</a>
    <br>
    <a><Strong>No. Of Owners : </Strong>{{post.ownersnumber}}</a>
    <br>
    <a><Strong>Car Color : </Strong>{{post.carcolor}}</a>
    <br>
    <a><Strong>Car Year : </Strong>{{post.caryear}}</a>
    <br>
    <a><Strong>More Info : </Strong><br>{{post.desc}}</a>
    <br><br>
    <img  src="{{post.img}}" class="border-r">
    
    
    <div  class="reacts">
      <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
      {{post.likes.length}}
    </div>
    
  </div>
   
   <!-- <div class="loading" align="center"> 
  <br clear="all">
    <i class="fas fa-circle-notch fa-spin"></i><br>Loading More Posts
    <br><br>
  </div>  -->
  <!-- Scrollable modal -->
 </div>