.background{
    
    background-color:#f4f2f2;   
}

  body{
    background-color:#f4f2f2;   
    margin-top:20px;
}

.card {
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 10%);
    margin-bottom: 24px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fdfdfd none repeat scroll 0 0;
    background-clip: border-box;
    border: 0 solid #ecf2f5;
    border-radius: .25rem;
}
.avatar-lg {
    height: 4.5rem;
    width: 4.5rem;
}
.rounded-circle {
    border-radius: 50%!important;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #ecf2f5;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    /* height: auto; */
}
.avatar-sm {
    height: 2.25rem;
    width: 2.25rem;
}
.rounded-circle {
    border-radius: 50%!important;
}
.me-2 {
    margin-right: .75rem!important;
}
.avatar-md {
    height: 3.5rem;
    width: 3.5rem;
}
.rounded-circle {
    border-radius: 50%!important;
}
.bg-transparent {
    --bs-bg-opacity: 1;
    background-color: transparent!important;
}
.post-user-comment-box {
    background-color: #f2f8fb;
    margin: 0 -.75rem;
    padding: 1rem;
    margin-top: 20px;
}
.simplebar-wrapper {
    overflow: hidden;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
}
.simplebar-height-auto-observer-wrapper {
    box-sizing: inherit!important;
    height: 100%;
    width: 100%;
    max-width: 1px;
    position: relative;
    float: left;
    max-height: 1px;
    overflow: hidden;
    z-index: -1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    flex-grow: inherit;
    flex-shrink: 0;
    flex-basis: 0;
}
.font-13 {
    font-size: 13px!important;
}
.btn-soft-info {
    color: #45bbe0;
    background-color: rgba(69,187,224,.18);
    border-color: rgba(69,187,224,.12);
}
.social-list-item {
    height: 2rem;
    width: 2rem;
    line-height: calc(2rem - 2px);
    display: block;
    border: 2px solid #adb5bd;
    border-radius: 50%;
    color: #adb5bd;
}
.comment-area-box .comment-area-btn {
    background-color: #f2f8fb;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-top: none;
    border-radius: 0 0 .2rem .2rem;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

.img-container{
    width: 100%;

}

.img-container img{
    width: 100%;
    height: 10%;
}


@media (max-width:360px){
    .img-container{
        width: 100%;
    }
    .img-container img{
        width: 100%;

    }
}

@media (max-width:390px){
    .img-container{
        width: 100%;
    }

}



.list-group::-webkit-scrollbar{
    display: none;
}

.containere {
    width: 100%;
    margin: 50px auto 50px;
    background: #fdfdfd none repeat scroll 0 0;
    padding: 0 20px 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    text-align: center;
    position: relative;
  }
  .avatar-flip {
    border-radius: 100px;
    overflow: hidden;
    height: 130px;
    width: 130px;
    position: relative;
    margin: auto;
    top: -60px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 6px #f0f0f0;
    -webkit-box-shadow: 0 0 0 6px #f0f0f0;
    -moz-box-shadow: 0 0 0 6px #f0f0f0;
  }

  /* h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
  }
  h4 {
    font-size: 13px;
    color: #00baff;
    letter-spacing: 1px;
    margin-bottom: 25px
  }
  p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    color: #666;
  } */


.widget{
  
        float: left;
        width: 100%;
        /* background-color: #fff;
        border-left: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4; */
        margin-bottom: 20px;
        /* -webkit-box-shadow: 0px 2px #e4e4e4;
        -moz-box-shadow: 0px 2px #e4e4e4;
        -ms-box-shadow: 0px 2px #e4e4e4;
        -o-box-shadow: 0px 2px #e4e4e4;
        box-shadow: 0px 2px #e4e4e4; */
        
    
}
.sd-title {
    float: left;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    display: grid;
    text-align: center;
}

.job-list{
    float: left;
    width: 100%;
    padding: 20px 20px;
    font: inherit;
    vertical-align: baseline;
  
}

.job-info {
    float: left;
    width: 100%;
}
.job-details {
    float: left;
    width: 165px;
}
.ht-rate{
    float: right;
    width: 40px;
    font-size: 14px;
    cursor: pointer;
    
}

.sd-title h3 {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    float: left;
}
.job-details h3 {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.job-details p {
    color: #686868;
    font-size: 14px;
    line-height: 20px;
}
.hr-rate span {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    float: right;
}