
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <form (submit)="sendSubmit()">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input name="search" [(ngModel)]="searchFilter" type="text" class="form-control" placeholder="Search...">
                </div>
                <ul class="list-unstyled chat-list mt-2 mb-0" >
                    <li (click)="sendUserdetails(i._id)" (click)="getsendermessages(i._id)" class="clearfix" *ngFor="let i of newHostsArray | searchFilter: searchFilter">
                        <img  src="{{imagePath}}{{i.businessImg}}" alt="avatar">
                        <div class="about">
                            <div   class="name">{{i.businessName}}</div>
                        </div>
                    </li>
                    
                </ul>
            </div>
           
            <div class="chat" >
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                <img src="{{imagePath}}{{img}}" >
                            </a>
                            <div class="chat-about">
                                <h6 class="m-b-0">{{hostBusinessName}}</h6>
                            </div>
                        </div>
                   
                    </div>
                </div>
                
                
                    <div class="container" style="overflow: scroll; height: 400px;">
                        <div class="chat-history"*ngFor="let i of messagesArray"  >
                    <ul class="m-b-0" >
                        <li class="clearfix"*ngIf="i.receiver!=id" >
                            <div class="message-data text-right">
                                <span  class="message-data-time float-right">{{i.createdAt| date:'shortTime'}}</span>
                            </div>
                            <div   class="message other-message float-right">{{i.message}} </div>
                        </li>                              
                        <li class="clearfix" *ngIf="i.receiver==id" >
                            <div class="message-data">
                                <span class="message-data-time">{{i.createdAt| date:'shortTime'}}</span>
                            </div>
                            <div  class="message my-message">{{i.message}}</div>
                        </li>
                    </ul>
                </div>
            </div>
                <div class="chat-message clearfix">
                    <div class="input-group mb-0" >
                        <div class="input-group-prepend"  >
                            <button   type="submit"  style="height: 100%; margin-right: 7px;" class="input-group-text"><i class="fa fa-send"></i></button>
                        </div>
                        <input  [(ngModel)]="message" name="message" type="text" class="form-control" placeholder="Enter text here...">                                    
                    </div>
                </div>
            </div>
        </div>
    </form>
        </div>
    </div>
</div>
